body {
	
}

#FeiraRural {
	width: 95%;
}

.principal{
	background: #abc1da;
	padding: 30px;
}

h1 {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #21373d;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #c2ba8d;
	padding: 10px;
}

h2 {
	text-align: center;
}
ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagemfeira2 {
	width: 30%;
}